.part2 {
    background-color: #fff2eb;
    margin: -2rem;
    height: 100%;
    min-height: 100vh;
    padding-top: 2rem;
}

.Wrap {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    li {
        padding-bottom: 3rem;
    }
    h2 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
}

.section {
    margin-bottom: 3rem;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2rem 0.8rem;
        border-radius: 0.5rem;
        background-color: #4f6ae0a9;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
    }
}

.content {
    padding: 1rem 1rem 0.6rem;
    color: #333;
    background: #ffdcdc;
    border-radius: 1rem;
    box-shadow: 0 0 20px 5px #e6c4c4b3;

    > div {
        min-height: 10vh;
        padding: 1.5rem 0;
    }

    > strong {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        font-weight: 600;
    }
}

.box {
    background: #fff;
    margin-bottom: 0.5rem;
    border-radius: 1rem;

    p {
        font-size: 1.3rem;
        font-weight: bold;
    }

    img {
        display: block;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    margin-top: 0.5rem;
}
